.place__paragraph-container {
    max-width: 484px;
}

@media screen and (max-width: 700px) {
    .place__paragraph-container {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
    }
}
