.place__website {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 700px) {
    .place__website {
        padding-left: 16px;
        padding-right: 16px;
    }
}
